*{
    margin: 0;
    padding: 0;
    
}
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  z-index: 1;
}
#logo {
    width:50px;
    position: relative;
    z-index:1;
    color: rgb(0, 68, 255);
}
.navbar{
  background-color: #332d56e8;
}
.navbar-toggler{
  border: 2px solid white;
  color: white;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-link{
  color: white;
   display: inline-block;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 8px;
  justify-content: center;
margin: 4px;
}
.nav-link:active{
  color: #fff;
}
.nav-link:hover{
  color: #332D56;
  background-color: #E3EEB2;
}
.nav-link:visited{
  color: #fff;
}
.nav-link:focus{
  color: #fff;
}
.navbar-collapse{
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu{
  background-color: #332D56;
  border: none;
  padding: 8px;
}
.dropdown-menu:active{
  color: #fff;
}
.dropdown-item{
  margin-right: 4px;
}
.logo-back-text {
  position: absolute;
  top: 50%;   
  left: 50%;
  transform: translate(-50%, -50%); 
  font-weight: regular;
  color: rgba(255, 255, 255, 0.1); 
  white-space: nowrap;
  z-index: 2; 
  user-select: none; 
  pointer-events: none; 
  font-size: 1rem;
}

.contact-icon {
position: relative;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  margin: 0;
}

.contact-icon img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  z-index: 2 ;
  pointer-events: none;
  margin: 0; 
}

.pulse-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #E3EEB2;
  animation: pulse 2s infinite ease-in-out;
  z-index: 0;
  opacity: 0.6;
}
.pulse-ring.delay {
  animation-delay: 1s;
  z-index: 0;
  width: 80%;
  height: 80%;
  background-color: #71C0BB;

}
@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.3;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.6;
  }
}

.child-special {
  background: linear-gradient(45deg, #78BBFF, #D11FF5, #FF78FD, #FFFB00);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.playwrite-de-grund {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}
.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150px;
  font-style: normal;
}
.roboto-condensed-48px {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 48px;
    }
    .roboto-condensed-24px {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 24px;
    }
    .roboto-condensed-16px {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight:100;
      font-size: 16px;
    }
    .roboto-condensed-8px {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 8px;
    }
    .roboto-condensed-btn{
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300px;
      font-size: 8px;
    }

  
    .empty-div {
      width: 100%;
      height: 100vh;
      margin-bottom: 20px;
      margin-top: 200px;
    }
    .gundem-scroll {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 16px;
}

.gundem-card {
  flex-shrink: 0;
  width: 250px;
  background-color: #4E6688;
  border-radius: 16px;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: visible;
  cursor: pointer;
  
}

.gundem-card-title {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 0 16px 0 16px; 
  padding: 12px;
}
.gundem-card-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background: #4E6688; 
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  transform: rotate(360deg);
  border-bottom-left-radius: 8px;
}

.gundem-card-title h5 {
  margin: 0;
  font-size: 18px;
}

.gundem-card-description {
  padding: 12px 12px 16px;
}

.gundem-card-description p {
  margin: 0;
  font-size: 14px;
}
    #gundem > .container-fluid {
        background-color: #fff;
        padding: 20px;
        border-radius: 0%;        
        margin:0;
        position: relative;
        border: none;
        overflow: hidden;

    }


    .scroll-next, .scroll-previous {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #E3EEB2;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      z-index: 10;
      transition: background-color 0.3s ease;
    }
    .scroll-next {
      right: 10px;
    }
    .scroll-previous {
      left: 10px;
    }
    .scroll-next:hover, .scroll-previous:hover {
  background-color: #E3EEB2;
  box-shadow: 0 0 8px 2px rgba(2, 52, 49, 0.7);
}
    .scroll-next i, .scroll-previous i {
      font-size: 1.5rem;
      color: #332D56;
    }

.btn{
  display: inline-block;
;
    background-color: #fff;
    color: #332D56;
    border: 2px solid #332D56;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn:hover {
    background-color: #332D56;
    color: #fff;
    transform: scale(1.05);
    border: #332D56 1px solid;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
#cozumler {
  background-color: #332D56;
}
.card-bg {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.card-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}
.save-water::before {
  background-image: url( /assets/dishes-to-the-machine.png);
}
.save-energy::before {
  background-image: url( /assets/lightbulbs.png);
}
.save-bath-water::before {
  background-image: url( /assets/taking-a-bath.png);
}
.unplug-devices::before {
  background-image: url( /assets/electronic-devices.png);
}
.wash-at-30::before {
  background-image: url( /assets/washing-machine.png);
}
.no-meat-day::before {
  background-image: url( /assets/vegeterian.png);
}
.features {
  padding: 16px;
  margin: 8px;
  border-radius: 4px 24px 4px 24px;
  color: #fff;
  box-shadow: 0 0 8px 2px rgba(124, 141, 140, 0.7);
  display: flex;
  flex-direction: column;
 height: 300px !important;
}
.bi-droplet-fill{
  color: aqua;
}
.bi-lightbulb-fill {
  color: yellow;
}
.fa-bath {
  color: #9900f1;
  font-size: 1.8rem;
margin: 8px;
}
.fa-plug{
  color: #fff;
  font-size: 1.8rem;
  margin: 8px;
}
.bi-thermometer-low {
  color: orange;
  font-size: 1.8rem;
}
.bi-fork-knife {
  color:cadetblue;
  font-size: 1.8rem;
}
.growingIcon {
  transform: scale(0);
  transition: transform 0.3s ease;
}
.btn-sm{
  display: flex;
  width: 250px;
  justify-content: center;
}
.carousel-text{
  color: white;
}
.carousel{
  background-color: #4e6688e7;
}
.children-special-page{
 background: linear-gradient(45deg, #FFFB00,#78BBFF, #D11FF5, #FF78FD,#FFFB00);
  background-size: 300% 300%;
  animation: gradientChild 6s ease-in-out infinite;
  text-align: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes gradientChild {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }}
  
  .btn-child{
    color: white;
    padding: 16px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid white;
  }
  .btn-child:hover{
    color: #4e4870;
    background-color: #fffc4d;
   box-shadow: 4px 2px 8px 2px rgba(1, 8, 8, 0.7);
  }
  #biz-kimiz{
   background-color: #332D56;
  }
  .bi-who-icon{
     display: flex;
    padding:1px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  .bi-who-icon:hover{
    background-color: white;
    color: black;
  }
 
  .card-who {
    min-height: 300px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card-who::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border-radius: 16px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: rotate(25deg);
  transition: transform 0.7s ease;
  opacity: 0;
}
.about-card{
  background-color: #332D56;
  border-radius: 8px;
  padding: 8px;
  display: inline-block;
  max-width: fit-content;
}

.card-who:hover::before {
  transform: translateX(150%) rotate(25deg);
  opacity: 1;
  transition: transform 0.7s ease, opacity 0.3s ease;
}

  #footer{
     background-color: #332d56e8;
  }