* {
  margin: 0;
  padding: 0;
}
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  background-color: #e3eeb2;
  color: #332d56;
  border: none;
  padding: 12px 16px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
  transition: opacity 0.3s;
}
.bi-chevron-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

#scrollToTopBtn:hover {
  background-color: #332d56;
  color: white;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  background-color: #e3eeb2;
  color: #332d56;
  border: none;
  padding: 12px 16px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
  transition: opacity 0.3s;
}
.bi-chevron-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

#scrollToTopBtn:hover {
  background-color: #332d56;
  color: white;
}

.content {
  z-index: 1;
}
@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-out {
  animation: slideOutLeft 0.5s forwards;
}

.slide-in {
  animation: slideInRight 0.5s forwards;
}

@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-out {
  animation: slideOutLeft 0.5s forwards;
}

.slide-in {
  animation: slideInRight 0.5s forwards;
}

#logo {
  width: 50px;
  position: relative;
  z-index: 1;
  color: rgb(0, 68, 255);
}
.navbar {
  background-color: #332d56e8;
}
.navbar-toggler {
  border: 2px solid white;
  color: white;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-link {
  color: white;
  display: inline-block;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 8px;
  justify-content: center;
  margin: 4px;
}
.nav-link:active {
  color: #332D56;

}
.nav-link.show{
  color: white !important;
}
.nav-link:hover {
  color: #332d56;
  background-color: #e3eeb2;
}
.nav-link:focus {
  color: #332D56;
}
.navbar-collapse {
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu {
  background-color: #332d56;
  border: none;
  padding: 8px;
}
.dropdown-menu:active {
  color: #fff;
}
.dropdown-item {
  margin-right: 4px;
}
.logo-back-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: regular;
  color: rgba(255, 255, 255, 0.1);
  white-space: nowrap;
  z-index: 2;
  user-select: none;
  pointer-events: none;
  font-size: 1rem;
}

.contact-icon {
  position: relative;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  margin: 0;
}

.contact-icon img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  z-index: 2;
  pointer-events: none;
  margin: 0;
}

.pulse-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e3eeb2;
  animation: pulse 2s infinite ease-in-out;
  z-index: 0;
  opacity: 0.6;
}
.pulse-ring.delay {
  animation-delay: 1s;
  z-index: 0;
  width: 80%;
  height: 80%;
  background-color: #71c0bb;
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.3;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.6;
  }
}

.child-special {
  background: linear-gradient(45deg, #78bbff, #d11ff5, #ff78fd, #fffb00);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.title{
  background-color: #332D56;
}
.playwrite-de-grund {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}
.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150px;
  font-style: normal;
}
.roboto-condensed-48px {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 48px;
}
.roboto-condensed-24px {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.roboto-condensed-16px {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  font-size: 16px;
}
.roboto-condensed-8px {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 8px;
}
.roboto-condensed-btn {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300px;
  font-size: 8px;
  border: 0px;
}
.text-div .container {
  position: relative;
  overflow: hidden;
  height: 80vh;
  margin-top: 20%;
}
.gundem{
  background-color: rgba(255, 255, 255, 0.596);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
   position: relative;
}
.swiper-slide{
  border-radius: 16px;
  background-color: #4e6688;
  min-height: 350px;
  height: auto;
   width: auto;
  max-width: 300px;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #E3EEB2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    transition: transform 0.3s ease-in-out;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important; 
  color: #332D56;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
  transform: scale(1.2);
}


.card-title-gundem {
  color: #332D56;
  position: relative;
  background-color: rgba(255, 255, 255, 0.518);
  padding: 16px;
  border-radius: 16px;
   clip-path: polygon(
    0 0,           /* sol üst */
    100% 10%,        /* sağ üst */
    calc(100% - 50px) 100%,  /* sağ alt 20px içeride */
    80% 70%,     /* sağ alt köşe */
    0 90%         
  );
  min-height: 150px;
}
.card-description-gundem{
  background-color: #4e6688;
  padding: 24px;
}
.swiper-wrapper{
  padding: 48px;
  box-sizing: border-box;
}
.swiper {
  padding-left: 48px;
  padding-right: 48px;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-right: 16px;
   position: absolute;
  bottom: 2%;
  right: 20px;
  z-index: 5;
}

.btn {
  display: inline-block;
  background-color: #fff;
  color: #332d56;
  border: 2px solid #332d56;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}

.btn:hover {
  background-color: #332d56;
  color: #fff;
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .btn-container {
    right: 50%;
    transform: translateX(50%);
    bottom: 2%;
  }
}


.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
#cozumler {
  background-color: #332d56;
}
.card-bg {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.card-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}
.save-water::before {
  background-image: url(/assets/dishes-to-the-machine.png);
}
.save-energy::before {
  background-image: url(/assets/lightbulbs.png);
}
.save-bath-water::before {
  background-image: url(/assets/taking-a-bath.png);
}
.unplug-devices::before {
  background-image: url(/assets/electronic-devices.png);
}
.wash-at-30::before {
  background-image: url(/assets/washing-machine.png);
}
.no-meat-day::before {
  background-image: url(/assets/vegeterian.png);
}
.features {
  padding: 16px;
  margin: 8px;
  border-radius: 4px 24px 4px 24px;
  color: #fff;
  box-shadow: 0 0 8px 2px rgba(124, 141, 140, 0.7);
  display: flex;
  flex-direction: column;
  height: 300px !important;
}
.bi-droplet-fill {
  color: aqua;
}
.bi-lightbulb-fill {
  color: yellow;
}
.fa-bath {
  color: #9900f1;
  font-size: 1.8rem;
  margin: 8px;
}
.fa-plug {
  color: #fff;
  font-size: 1.8rem;
  margin: 8px;
}
.bi-thermometer-low {
  color: orange;
  font-size: 1.8rem;
}
.bi-fork-knife {
  color: cadetblue;
  font-size: 1.8rem;
}
.growingIcon {
  transform: scale(0);
  transition: transform 0.3s ease;
}
.btn-sm {
  display: flex;
  width: 250px;
  justify-content: center;
}

.test-buttons {
gap: 2rem;
text-align: center;
}

.test-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.test-button {
    width: 250px;
  padding: 12px 32px;
  border-radius: 8px;
  background-color: #E3EEB2;
  color: #332D56;
  border: 2px solid #332D56;
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  z-index: 1;
  overflow: hidden;}

.button-animation {
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transition: opacity 0.3s ease;
}
.water-button{
  color: rgb(0, 132, 255);
  background-color: transparent;
  border: 1px solid rgb(0, 132, 255);
  box-shadow: 4px 2px 8px 2px rgba(1, 8, 8, 0.7);
}
.water-button:hover{
  color: rgb(0, 132, 255);
  background-color: white;
  border: 0;
  box-shadow: 4px 2px 8px 2px rgba(1, 8, 8, 0.7);
}
.wind-button{
  color: white;
  border: 1px solid white;
  background-color: transparent;
  box-shadow: 4px 2px 8px 2px rgba(1, 8, 8, 0.7);
}
.wind-button:hover{
  color: white;
  border: 0;
  background-color: rgb(0, 208, 255);
  box-shadow: 4px 2px 8px 2px rgba(1, 8, 8, 0.7);
}

.carousel-text{
  color: white;
}
.carousel {
  background-color: #4e6688e7;
  min-height: 500px;
}
.children-special-page {
  background: linear-gradient(
    45deg,
    #fffb00,
    #78bbff,
    #d11ff5,
    #ff78fd,
    #fffb00
  );
  background-size: 300% 300%;
  animation: gradientChild 6s ease-in-out infinite;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes gradientChild {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-child {
  color: white;
  padding: 8px 48px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid white;
}
.btn-child:hover {
  color: #4e4870;
  background-color: #fffc4d;
  box-shadow: 4px 2px 8px 2px rgba(1, 8, 8, 0.7);
}
#biz-kimiz {
  background-color: #332d56;
}
.bi-who-icon {
  display: flex;
  padding: 1px;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.bi-who-icon:hover {
  background-color: white;
  color: black;
}

.card-who {
  min-height: 300px;
  position: relative;
  overflow: hidden;
}

.card-who::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border-radius: 16px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: rotate(25deg);
  transition: transform 0.7s ease;
  opacity: 0;
}
.about-card {
  background-color: #332d56;
  border-radius: 8px;
  padding: 8px;
  display: inline-block;
  max-width: fit-content;
}

.card-who:hover::before {
  transform: translateX(150%) rotate(25deg);
  opacity: 1;
  transition: transform 0.7s ease, opacity 0.3s ease;
}

#footer {
  background-color: #332d56e8;
}

.oyunBir {
  position: relative;
  background-image: linear-gradient(
      rgba(51, 45, 86, 0.778),
      rgba(51, 45, 86, 0.773)
    ),
    url("/cocuklar-özel/cocuklar_assets/garbage-dump-in-front-of-the-house.jpg");
  background-size: cover;
  background-position: center;
  padding: 24px;
}
.game-description {
  background-color: #4e6688;
  background-size: cover;
  height: auto;
  height: auto;
  text-align: center;
  padding: 56px 8px 8px 8px;

  padding: 56px 8px 8px 8px;
}
.game-area {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px;
  text-align: center;
}
#celebration {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.bin {
  position: relative;
  padding: 24px;
  border-radius: 10px;
  width: 150px;
  height: 180px;
  background-color: #e3eeb2c5;
  overflow: hidden;
}
.bin:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: #6f66a2;
}

.bin h3 {
  margin-top: 0;
  user-select: none;
}
.item {
  position: absolute;
  width: 60px;
  cursor: grab;
  user-select: none;
  transition: top 0.3s ease, left 0.3s ease;
}
.items {
  position: relative;
  width: 350px;
  height: 120px;
  margin: 0 auto;
  border: 2px solid #2c2c2c;
  border-radius: 10px;
  background-color: #8c908db6;
}
.score {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  align-items: center;
}
#gameArea {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(/cocuklar-özel/cocuklar_assets/Ekran\ görüntüsü\ 2025-07-03\ 153635.png);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image: url("/cocuklar-özel/cocuklar_assets/ground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#shovel {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 60px;
  cursor: grab;
  z-index: 10;
}
#shovel:hover {
  background: linear-gradient(rgba(78, 86, 45, 0.778), rgba(75, 86, 45, 0.773));
  border-radius: 24px;
}

#saplingIcon {
  position: absolute;
  bottom: 20px;
  left: 100px;
  width: 100px;
  cursor: grab;
  z-index: 10;
}
#saplingIcon:hover {
  background: linear-gradient(rgba(78, 86, 45, 0.778), rgba(75, 86, 45, 0.773));
  border-radius: 24px;
}

.element {
  position: absolute;
  width: 50px;
  pointer-events: none;
  transition: transform 2s ease-in-out;
  transform-origin: bottom center;
}
#wateringCan {
  width: 60px;
  position: absolute;
  bottom: 20px;
  left: 200px;
}
#wateringCan:hover {
  background: linear-gradient(rgba(78, 86, 45, 0.778), rgba(75, 86, 45, 0.773));
  border-radius: 24px;
}
@keyframes splash {
  0% {
    transform: scale(0);
    opacity: 0.8;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

/* Oyun alanı: musluklar burada */
#game-area-water {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.game-area-bg {
  background-image: url(/cocuklar-özel/cocuklar_assets/sink.png);
  padding: 24px;
}
.score-area {
  padding: 16px;
  align-items: center;
  justify-content: center;
  background-color: #332d56bb;
  width: 250px;
  height: auto;
  border-radius: 16px;
  color: white;
  margin: 16px auto;
  text-align: center;
}
.water-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#game-area-water {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.game-area-bg {
  background-image: url(/cocuklar-özel/cocuklar_assets/sink.png);
  padding: 24px;
}
.score-area {
  padding: 16px;
  align-items: center;
  justify-content: center;
  background-color: #332d56bb;
  width: 250px;
  height: auto;
  border-radius: 16px;
  color: white;
  margin: 16px auto;
  text-align: center;
}
.water-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faucet {
  width: 100px;
  height: 150px;
  background: url("/cocuklar-özel/cocuklar_assets/opened-faucet.png") no-repeat
    center;
  background-size: contain;
  position: relative;
}
.faucet.closed {
  background-image: url('/cocuklar-özel/cocuklar_assets/closed-faucet.png');
}
#celebration2 {
  display: none;
  margin-top: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}
#startButton{
  background-color: #FFFB00;
  border: 1px solid white;
  color: #332D56;
  padding: 8px 32px ;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#startButton:hover{
transform: scale(1.2);
background-color: orange;
color: white;
}
.startButton{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 768px) {
  ul.game-buttons {
    flex-direction: row;
    justify-content: center;
  }
}
.game-buttons button {
  width: 200px;
  max-width: 100%;
}

ul.game-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction:column;
  gap: 1rem;
   align-items: center;
}

@media (min-width: 768px) {
  ul.game-buttons {
    flex-direction: column;
    justify-content: center;
  }
}


.game-buttons button {
  width: 100%;
  padding: 12px 24px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.375);
  position: relative;
  z-index: 1;
}


.game-buttons button:hover {
  animation: glow 1.5s infinite ease-in-out;
  background-color: white;
  border-color: white;
  color: #332D56;
}


@keyframes glow {
  0% {
    box-shadow: 0 0 5px #E3EEB2;
  }
  50% {
    box-shadow: 0 0 20px #fff, 0 0 30px #E3EEB2;
  }
  100% {
    box-shadow: 0 0 5px #E3EEB2;
  }
}