*{
    margin: 0;
    padding: 0;
    
}
#logo {
    width:50px;
    position: relative;
    z-index:1;
    color: rgb(0, 68, 255);
}
.navbar{
  background-color: #332d56e8;
}
.navbar-toggler{
  border: 2px solid white;
  color: white;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-link{
  color: white;
   display: inline-block;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 8px;
  justify-content: center;
margin: 4px;
}
.nav-link:active{
  color: #fff;
}
.nav-link:hover{
  color: #332D56;
  background-color: #E3EEB2;
}
.nav-link:visited{
  color: #fff;
}
.nav-link:focus{
  color: #fff;
}
.navbar-collapse{
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu{
  background-color: #332D56;
  border: none;
  padding: 8px;
}
.dropdown-menu:active{
  color: #fff;
}
.dropdown-item{
  margin-right: 4px;
}
.logo-back-text {
  position: absolute;
  top: 50%;   
  left: 50%;
  transform: translate(-50%, -50%); 
  font-weight: regular;
  color: rgba(255, 255, 255, 0.1); 
  white-space: nowrap;
  z-index: 2; 
  user-select: none; 
  pointer-events: none; 
  font-size: 1rem;
}

.contact-icon {
position: relative;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  margin: 0;
}

.contact-icon img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  z-index: 2 ;
  pointer-events: none;
  margin: 0; 
}

.pulse-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #E3EEB2;
  animation: pulse 2s infinite ease-in-out;
  z-index: 0;
  opacity: 0.6;
}
.pulse-ring.delay {
  animation-delay: 1s;
  z-index: 0;
  width: 80%;
  height: 80%;
  background-color: #71C0BB;

}
@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.3;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.6;
  }
}

.child-special {
  background: linear-gradient(45deg, #78BBFF, #D11FF5, #FF78FD, #FFFB00);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.playwrite-de-grund {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}
.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150px;
  font-style: normal;
}
.roboto-condensed-48px {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 48px;
    }
    .roboto-condensed-24px {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 24px;
    }
    .roboto-condensed-16px {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight:100;
      font-size: 16px;
    }
    .roboto-condensed-8px {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 8px;
    }
    .roboto-condensed-btn{
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300px;
      font-size: 8px;
      border: 0px;
    }
     #footer{
     background-color: #332d56e8;
  }
  .card{
    max-width: 540px;
    background-color: white;
    color: #332D56;
  }
  .hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.5); /* Yazıların okunabilirliği için video karartma */
}

.hero-overlay {
  position: relative;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2); /* Yazının arkasında şeffaf koyuluk */
  padding: 0 20px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
    animation: fadeInUp 1.5s ease-out both;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-img-custom {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
}

.card .p-4 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .icons {
    flex-direction: column !important;
    align-items: center;
    gap: 8px;
    margin: 30px; 
  }
}
.bi-who-icon{
    display: flex;
    padding:2px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  .bi-who-icon:hover{
    background-color: #332D56;
    color: white;
  }
  .text>.title{
    background-color: #332D56;
  color: white;
  padding: 8px;
  border-radius: 16px;
  }
  .text> .description{
    background-color: rgb(44, 173, 44);
    border-radius: 16px 0px;
    padding: 4px;
    color: white;
  }