body {

  background:
    linear-gradient(
      rgba(51, 45, 86, 0.65),   
      rgba(51, 45, 86, 0.65)
    ),
    url("/assets/news.jpg") center / cover no-repeat;

  /* Sayfa tamamen dolsun */
  min-height: 100vh;
}



#logo {
    width:50px;
    position: relative;
    z-index:1;
    color: rgb(0, 68, 255);
}
.navbar{
  background-color: #332d56e8;
}
.navbar-toggler{
  border: 2px solid white;
  color: white;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-link{
  color: white;
   display: inline-block;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 8px;
  justify-content: center;
margin: 4px;
}
.nav-link:active{
  color: #fff;
}
.nav-link:hover{
  color: #332D56;
  background-color: #E3EEB2;
}
.nav-link:visited{
  color: #fff;
}
.nav-link:focus{
  color: #fff;
}
.navbar-collapse{
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu{
  background-color: #332D56;
  border: none;
  padding: 8px;
}
.dropdown-menu:active{
  color: #fff;
}
.dropdown-item{
  margin-right: 4px;
}
.logo-back-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: regular;
  color: rgba(255, 255, 255, 0.1);
  white-space: nowrap;
  z-index: 2;
  user-select: none;
  pointer-events: none;
  font-size: 1rem;
}
.contact-icon {
position: relative;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  margin: 0;
}
.contact-icon img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  z-index: 2 ;
  pointer-events: none;
  margin: 0;
}
.pulse-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #E3EEB2;
  animation: pulse 2s infinite ease-in-out;
  z-index: 0;
  opacity: 0.6;
}
.pulse-ring.delay {
  animation-delay: 1s;
  z-index: 0;
  width: 80%;
  height: 80%;
  background-color: #71C0BB;
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.3;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.6;
  }
}
.child-special {
  background: linear-gradient(45deg, #78BBFF, #D11FF5, #FF78FD, #FFFB00
);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.playwrite-de-grund {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}
.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150px;
  font-style: normal;
}
.roboto-condensed-48px {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 48px;
    }
    .roboto-condensed-24px {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 24px;
    }
    .roboto-condensed-16px {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight:100;
      font-size: 16px;
    }
    .roboto-condensed-8px {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 8px;
    }
    .roboto-condensed-btn{
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300px;
      font-size: 8px;
    }
    #footer{
     background-color: #332d56e8;
  }
      .container{

      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      background-size: cover;
      
    }

    #gundem-content{
      padding: 20px;
      line-height: 1.6;
      color: #f9f9f9;
      margin-top: 5%;
      
    }
    h1{
      
      font-weight: bold;
      font-size: 30px;
    }
    .card-img-top {
      
      height: 125px;
      object-fit: cover;
    }
    .card-text{
      font-size: 12px;
      color: #000000;
      text-align: justify;
      line-height: 1;
    }
    .card-title {
      font-size: 16px;
      color: #000000;
      font-weight: bold;
      text-shadow: #332D56 1px 1px 2px;
    }
    .btn{
      background-color: #E3EEB2;
      color: #000000;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 14px;
      transition: background-color 0.3s ease, color 0.3s ease;
      font-weight: 500;
      

    }
    .btn:hover {
      background-color: #332d56;
      color: #FFFFFF;
      box-shadow: 0 0 8px 2px rgba(2, 52, 49, 0.7);
    }
   .card {
    position: relative; 
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    font-family: 'Roboto Condensed', sans-serif;
  }

 
  .card:hover {
    transform: scale(1.03);        
    box-shadow: 0 8px 24px rgba(0,0,0,3);
    z-index: 2;                    
  }
  .card-date {
  position: absolute;
  top: .5rem;
  left: .75rem;
  font-size: .75rem;
  font-weight: 600;
  background: rgba(255,255,255,.9);
  padding: 2px 6px;
  border-radius: 4px;
}